*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	font-variant: small-caps;
}

body{
	height: 100vh;
	overflow: hidden;
}

h1{
	text-align: center;
	color: white;
}

.center{
    display: flex;
    justify-content: center;
}

.header{
	background-color: #262626;
	width: 100%;
	height: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button{
	text-align: center;
	background-color: #d1b3ff;
	padding: 3px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	outline: none;
	border: 1px solid #751aff;
	border-radius: 5px;
	transition: background-color 0.3s;
	box-shadow: 1px 1px 2px black;
}

.button:active{
	background-color: #a366ff;
}

.buttonR{
	text-align: center;
	background-color: #ffb3b3;
	padding: 3px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	outline: none;
	border: 1px solid #ff8080;
	border-radius: 5px;
	transition: background-color 0.3s;
	box-shadow: 1px 1px 2px black;
}

.buttonR:active{
	background-color: #ff8080;
}

#canvas{
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

.content{
	width: 350px;
	height: 92%;
	position: absolute;
	background-color: #333333;
	color: white;
	text-shadow: 1px 1px 2px black;
}


